<%for photo in @userf.photos %>
  <%= image_tag photo.file_name.to_s, :size => '400x400' %><br>
  <tb>Photo Created on: </tb>
  <li><%= photo.date_time %></li><br>
  <%for comment in photo.comments %>
    <li><%= comment.comment_text %></li>
    <td><%= link_to comment.user.first_name + " " + comment.user.last_name, comment.user_id %></td>
    <tb>Commented on: </tb>
    <tb><%= comment.date_time %></tb>
  <%end %>
<% end %>

